@import "tailwindcss";

/* Applies to whole page */
html {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(150, 150, 150, 0.3) transparent; /* Firefox */
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px; /* Thin width like iPhone */
  height: 6px; /* For horizontal scrolls */
}

::-webkit-scrollbar-track {
  background: transparent; /* No background track */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(150, 150, 150, 0.2); /* Light gray thumb */
  border-radius: 10px; /* Smooth, rounded edges */
  transition: background-color 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(150, 150, 150, 0.2); /* Slightly darker on hover */
}
